<ion-content [fullscreen]="true" class="bg-light">
  <div class="d-flex justify-content-center align-items-center min-vh-100 w-100">
    <div class="container" style="max-width: 600px;">
      <div class="d-grid gap-4">
        <div class="form-floating">
          <input type="email" class="form-control text-white" id="floatingInputEmail" maxlength="100" placeholder="" style="background-color: transparent !important;">
          <label for="floatingInput" style="color: #5a5a5a!important">Email</label>
        </div>
        <div class="form-floating">
          <input type="email" class="form-control text-white" id="floatingInputPassword" maxlength="50" placeholder="" style="background-color: transparent !important;">
          <label for="floatingInput" style="color: #5a5a5a!important">Senha</label>
        </div>
        <div class="d-grid justify-content-end w-100 gap-3" style="font-size: 15px !important;">
          <a><u>Esqueci minha senha</u></a>
        </div>
        <div class="d-flex justify-content-center w-100">
          <button class="btn btn-primary w-100" style="max-width: 400px;">Conectar</button>
        </div>
        <div class="d-grid justify-content-center w-100 gap-3" style="font-size: 15px !important;">
          <a>Não tem uma conta? <u class="text-primary">Cadatre-se aqui.</u></a>
        </div>
      </div>
    </div>
  </div>
</ion-content>
