<ion-header [translucent]="true" class="position-absolute">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/']"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="bg-light" scroll="true">
  <div class="d-flex justify-content-center align-items-center min-vh-100 w-100 p-1 h-auto" style="padding-top: 10vh !important;">
    <div class="container" style="max-width: 600px;">
      <div class="d-grid gap-4">
        <div class="form-floating">
          <input [(ngModel)]="codigo" type="text" class="form-control text-white" id="floatingInputCode" maxlength="100" placeholder="" style="background-color: transparent !important;" autocomplete="off">
          <label for="floatingInputCode" style="color: #5a5a5a!important">Código</label>
        </div>
        <div class="form-floating">
          <input [(ngModel)]="nome" type="text" class="form-control text-white" id="floatingInputName" maxlength="100" placeholder="" style="background-color: transparent !important;" autocomplete="off">
          <label for="floatingInputName" style="color: #5a5a5a!important">Nome</label>
        </div>
        <div class="form-floating">
          <input [(ngModel)]="tempoGarantia" type="number" class="form-control text-white" id="floatingInputGarantia" maxlength="100" placeholder="" style="background-color: transparent !important;" autocomplete="off">
          <label for="floatingInputGarantia" style="color: #5a5a5a!important">Garantia (meses)</label>
        </div>
        <div class="w-100 text-center">
          <ion-label>Status Ativo  </ion-label>
          <ion-toggle [(ngModel)]="status"></ion-toggle>
        </div>
      </div>
      <div class="d-flex justify-content-center w-100 mt-5">
        <button (click)="salvar()" class="btn btn-primary w-100 p-2" style="max-width: 400px; height: 50px;">Cadastrar Produto</button>
      </div>
    </div>
  </div>
</ion-content>
