<ion-header [translucent]="true" class="position-absolute">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/login']"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-light" scroll="true">
  <div class="d-flex justify-content-center align-items-center min-vh-100 w-100 p-3">
    <div class="container" style="max-width: 600px;">
      <div class="d-grid gap-5">
        <h2 class="text-center">Código de envio</h2>
        <p class="text-center">Um código de verificação será enviado para o e-mail informado. Utilize esse código para redefinir sua senha com segurança.</p>
        <div class="form-floating">
          <input type="email" class="form-control text-white" id="floatingInputEmail" maxlength="100" placeholder="" style="background-color: transparent !important;">
          <label for="floatingInputEmailSignUp" style="color: #5a5a5a!important">Email</label>
        </div>
        <div class="d-flex justify-content-center w-100">
          <button (click)="sendCode()" class="btn btn-primary w-100" style="max-width: 400px;">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>

