<ion-header [translucent]="true" class="position-absolute">
  <ion-toolbar class="px-3">
    <ion-title>
      Olá, {{ name }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="signOut();">
        <ion-icon name="log-out-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" scroll="true" class="bg-light">
  <div class="d-flex justify-content-center align-items-center min-vh-100 w-100 p-1">
    <div class="container" style="max-width: 600px;">
      <div class="d-grid gap-3">
        <div class="d-flex justify-content-center w-100">
          <button (click)="navigateProducts()" class="btn btn-primary w-100 p-2" style="max-width: 400px; height: 50px;">Produtos</button>
        </div>
        <div class="d-flex justify-content-center w-100">
          <button class="btn btn-primary w-100 p-2" style="max-width: 400px; height: 50px;">Ordens</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
